[Unit]
Description=Rotate the current astronomy picture of the day and set it as background
After=network.target

[Service]
Type=oneshot
# change this to wherever you installed the standalone binary
ExecStart=/home/dcaro/bin/apod_fetcher --rotate
# needed to leave swaybg running
KillMode=process

[Install]
WantedBy=default.target
